body, html {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: 'JetBrains Mono', mono-space, sans-serif;
}

ul {
    margin: 1rem .75rem;
    padding: 0;
}

@media screen and (min-width: 48rem) {
    ul {
        margin: 1rem 1.25rem;
    }
}

li {
    margin-bottom: .75rem;
}

a {
    color: white;
    text-decoration: none;
}

strong {
    font-family: 'JetBrains Mono', mono-space, sans-serif;
    color: #00f800;
    font-weight: bold;
}

h1, h2 {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: .5rem;
    color: #00f000;
}

hr {
    width: 100%;
    border: 1px solid green;
}

.logo {
    width: 6rem;
    vertical-align: baseline;
}

.window {
    border-radius: 1rem;
    box-sizing: border-box;
    background: #000;
    color: #00c000;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem auto 0;
    max-width: 49rem;
}

@media screen and (max-width: 48rem) {
    .window {
        margin: 1.8rem auto 0;
    }
}

.window .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.4rem 3.4rem;
}

@media screen and (max-width: 48rem) {
    .window .content {
        padding: 1.4rem 1.25rem;
    }
}

.window .title-bar {
    text-align: center;
    width: 100%;
    margin-top: -1.2rem;
    padding: .5rem 1.25rem;
    color: #333;
    font-weight: bold;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    background: #f6f8f9; /* Old browsers */
    background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.window .title-bar img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 2px;
    display: inline;
}

.copyright {
    font-size: small;
}

.window .heading-text {
    display: flex;
    align-items: center;
}

.window .heading-text > * {
    margin: .75rem 2px;
}

.window .heading-text h1 {
    display: flex;
    align-items: center;
}

.window a {
    color: #6072ff;
}

footer {
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 5rem;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.7rem;
}

@media screen and (max-width: 50rem) {
    footer {
        font-size: .75rem;
        padding: 0 .75rem;
    }
}