@keyframes slideFromTop {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated {
    animation: 250ms ease-out 0s 1 slideFromTop;
    animation-fill-mode: both;
    animation-delay: 200ms;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', mono-space, sans-serif;
}

header {
    flex: 1 0 auto;
    background: url(../img/the-astronomer.png) no-repeat;
    background-size: cover;
    text-align: center;
}

header .window {
    background-color: rgba(0, 0, 0, 0.82);
}